.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 84px;

  @include tablet {
    width: 319px;
    height: 184px;
  }
}

.phone-icon {
  width: 30px;
  height: 30px;

  @include tablet {
    width: 60px;
    height: 60px;
  }
  @include desktop {
    width: 80px;
    height: 80px;
  }
  @include max {
    width: 80px;
    height: 80px;
  }
}

.flex {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
  }
}

.phone {
  color: #bd171b;
  font-weight: 800;

  @include tablet {
    font-size: 30px;
    line-height: 48px;
    margin-left: 27px;
  }
  @include desktop {
    font-size: 50px;
    line-height: 58px;
    margin-left: 87px;
  }
}

.burger {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover {
    scale: 110%;
  }
  &:active {
    scale: 110%;
  }

  @include tablet {
    margin-right: 66px;
    margin-top: 52px;
    margin-bottom: 62px;
    width: 60px;
    height: 60px;
  }
  @include desktop {
    width: 80px;
    height: 80px;
  }
  @include max {
    width: 80px;
    height: 80px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: #fefefe;
  margin-left: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;

  @include tablet {
    width: 80%;
    max-width: 600px;
  }
  @include desktop {
  }
  @include max {
  }
}

.close {
  position: absolute;
  display: inline-block;
  color: #aaa;
  background-color: #ffffff;
  border: none;
  top: 12px;
  right: 16px;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #000000;
  }
  &:active {
    color: #000000;
  }

  @include tablet {
    top: 52px;
    right: 66px;
    font-size: 80px;
  }
  @include desktop {
  }
  @include max {
  }
}

.link-flex {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  line-height: 33px;
  color: black;
  padding-left: 15px;

  @include tablet {
    font-size: 40px;
    font-weight: 47px;
    padding-left: 68px;
    gap: 15px;
  }
}

.header-title {
  color: #bd171b;
  font-size: 35px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 800;

  @include tablet {
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  @include desktop {
  }
  @include max {
  }
}

.second-logo {
  margin-left: auto;
  margin-right: auto;
}

.second-phone {
  color: #bd171b;
  text-align: center;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 37px;

  @include tablet {
    line-height: 53px;
    font-size: 45px;
    margin-top: 90px;
    margin-bottom: 67px;
  }
  @include desktop {
  }
  @include max {
  }
}
