<header>
  <div class="header-container">
    <div>
      <a href="./index.html"
        ><img class="logo" src="./images/лого.png" alt=""
      /></a>
    </div>
    <div class="flex">
      <img class="phone-icon" src="./images/phone-call.png" alt="" />
      <a class="phone" href="tel:+5561998233759">+5561 99823- 3759</a>
    </div>
    <div>
      <button class="burger">
        <img src="./images/burger.png" alt="" />
      </button>
    </div>
    <div class="modal">
      <div class="modal-content">
        <button class="close">&times;</button>
        <img class="logo second-logo" src="./images/лого.png" alt="" />
        <h2 class="header-title">BrazFast</h2>
        <div class="link-flex">
          <a href="./index.html">Principal</a>
          <a href="./index.html">Como fazer um pedido?</a>
          <a href="./menu.html">Menu</a>
          <a href="./reviews.html">Revisões</a>
          <a href="./contacts.html">Contatos</a>
          <a href="./privacy.html">Política de Privacidade</a>
          <a class="second-phone" href="tel:+5561998233759"
            >+5561 99823- 3759</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <section>
    <div class="hero-container">
      <p>
        Como fazer um pedido com a BrazFast é muito simples e rápido. Aqui estão
        alguns passos que você precisa dar:
      </p>
    </div>
  </section>
</main>
<section>
  <div class="container">
    <ul>
      <li class="number-item ">
        <img class="image" src="./images/01.png" alt="" />
        <p class="first-number-item">
          Visite nosso site no brazfastentrega.com e vá para a seção de menu
          para selecionar os pratos desejados.
        </p>
      </li>
      <li class="number-item">
        <img class="image" src="./images/02.png" alt="" />
        <p>
          Adicione os pratos selecionados à sua cesta, verifique seu pedido e
          proceda ao pagamento.
        </p>
      </li class="number-item">
      <li class="number-item">
        <img class="image" src="./images/03.png" alt="" />
        <p>Preencha seus dados de contato e endereço de entrega.</p>
      </li>
      <li class="number-item">
        <img class="image" src="./images/04.png" alt="" />
        <p>Escolha uma forma de pagamento que seja conveniente para você.</p>
      </li>
      <li class="number-item">
        <img class="image" src="./images/05.png" alt="" />
        <p>
          Após o pagamento bem sucedido, você receberá uma confirmação do pedido
          em seu endereço de e-mail.
        </p>
      </li>
      <li class="number-item">
        <img class="image" src="./images/06.png" alt="" />
        <p>Aguarde que seu pedido seja entregue o mais rápido possível.</p>
      </li>
    </ul>
  </div>
</section>
<section>
    <div class="second-container">
  <p>
    Se você tiver qualquer dúvida ou problema com seu pedido, você pode entrar
    em contato com nossa equipe de suporte ao cliente e nossa equipe o ajudará a
    qualquer momento.
  </p>
  <button class="first-button" type="button">Ver o menu</button>
  </div>
</section>
<section>
    <div class="container">
  <ul class="list">
    <li>
      <h3 class="title">Pagamento</h3>
      <p>
        Na BrazFast, nós nos esforçamos para tornar o processo de pagamento o
        mais conveniente e seguro possível para nossos clientes. Oferecemos os
        seguintes métodos de pagamento: Pagamento on-line por cartão Pagamento à
        vista no recebimento do pedido (aplicável somente para pedidos locais em
        Brasília) Você pode escolher qualquer uma destas formas de pagamento ao
        fazer seu pedido em nosso website.
      </p>
    </li>
    <li>
      <h3 class="title">Envio</h3>
      <p>
        Oferecemos frete grátis dentro da cidade de Brasília para pedidos acima
        de R$50. Para pedidos de valor inferior a este, cobramos uma taxa de
        envio que depende da distância até o seu endereço. Fazemos nosso melhor
        para garantir que seu pedido seja entregue o mais rápido possível. O
        tempo de entrega depende da distância de seu endereço de nosso centro de
        processamento de pedidos. Entraremos em contato com você para confirmar
        a data e o horário de entrega.
      </p>
    </li>
  </ul>
  </div>
</section>
<section>
    <div class="last-container">
  <p>
    Se você tiver alguma dúvida em relação ao pagamento ou entrega, entre em
    contato com nossa equipe de suporte ao cliente. Estamos sempre prontos para
    ajudá-lo com quaisquer dúvidas que você possa ter durante o processo de
    pedido.
  </p>
  <button class="first-button second-button" type="button">Encomenda</button>
  </div>
</section>
