<header>
  <div class="header-container">
    <div>
      <a href="./index.html"
        ><img class="logo" src="./images/лого.png" alt=""
      /></a>
    </div>
    <div class="flex">
      <img class="phone-icon" src="./images/phone-call.png" alt="" />
      <a class="phone" href="tel:+5561998233759">+5561 99823- 3759</a>
    </div>
    <div>
      <button class="burger">
        <img src="./images/burger.png" alt="" />
      </button>
    </div>
    <div class="modal">
      <div class="modal-content">
        <button class="close">&times;</button>
        <img class="logo second-logo" src="./images/лого.png" alt="" />
        <h2 class="header-title">BrazFast</h2>
        <div class="link-flex">
          <a href="./index.html">Principal</a>
          <a href="./index.html">Como fazer um pedido?</a>
          <a href="./menu.html">Menu</a>
          <a href="./reviews.html">Revisões</a>
          <a href="./contacts.html">Contatos</a>
          <a href="./privacy.html">Política de Privacidade</a>
          <a class="second-phone" href="tel:+5561998233759"
            >+5561 99823- 3759</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <h1 class="menu-title">Menu</h1>
    <ul class="menu-list">
      <li class="menu-item">
        <img src="./images/image1.jpg" alt="" />
        <h3 class="menu-card-title">Hambúrguer "Meat joy"</h3>
        <p class="menu-card-descr menu-card-descr-size">
          Um suculento hambúrguer com salsichas e pimentões em conserva, cozidos
          na grelha.
        </p>
        <span class="menu-card-title span-title">R$15</span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image2.jpg" alt="" />
        <h3 class="menu-card-title">Anéis de lulas panadas</h3>
        <p class="menu-card-descr">
          Anéis de lulas, empanados, escolha do molho.
        </p>
        <span class="menu-card-title span-title">R$16</span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image3.jpg" alt="" />
        <h3 class="menu-card-title">Schnitzel</h3>
        <p class="menu-card-descr">
          Carne de porco, ovo, farinha, pães, escolha do molho.
        </p>
        <span class="menu-card-title span-title">R$22 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image4.jpg" alt="" />
        <h3 class="menu-card-title">Cachorro-quente</h3>
        <p class="menu-card-descr">
          Pães frescos, salsicha crocante e salada de repolho em vinagre.
        </p>
        <span class="menu-card-title span-title">R$8 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image5.jpg" alt="" />
        <h3 class="menu-card-title">Nuggets de frango</h3>
        <p class="menu-card-descr">
          Filé de frango, empanado, molho de sua escolha.
        </p>
        <span class="menu-card-title span-title">R$18 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image6.jpg" alt="" />
        <h3 class="menu-card-title">Salada César</h3>
        <p class="menu-card-descr menu-card-descr-size menu-card-descr-special">
          Alface, filé de frango grelhado, croutons, queijo parmesão, molho
          César.
        </p>
        <span class="menu-card-title span-title">R$15 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image7.jpg" alt="" />
        <h3 class="menu-card-title">Sanduíche de frango</h3>
        <p class="menu-card-descr">
          Frango, salada e tomate em um pãozinho macio.
        </p>
        <span class="menu-card-title span-title">R$10 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image8.jpg" alt="" />
        <h3 class="menu-card-title">Batatas fritas</h3>
        <p class="menu-card-descr">
          Batatas fritas frescas vestidas com nosso molho secreto.
        </p>
        <span class="menu-card-title span-title">R$6 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image9.jpg" alt="" />
        <h3 class="menu-card-title">Molhos em sortimento</h3>
        <p class="menu-card-descr menu-card-descr-size">
          Ketchup, maionese, mostarda, molho barbecue, molho César, outros
          molhos à escolha.
        </p>
        <span class="menu-card-title span-title">R$5 </span>
        <button class="first-button">Encomenda</button>
      </li>
      <li class="menu-item">
        <img src="./images/image10.jpg" alt="" />
        <h3 class="menu-card-title">Bebidas carbonatadas</h3>
        <p class="menu-card-descr">
          Coca, Fanta, sprite, tônico, outras bebidas à escolha.
        </p>
        <span class="menu-card-title span-title">R$9 </span>
        <button class="first-button">Encomenda</button>
      </li>
    </ul>
  </div>
</section>
